<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.mapper.BigTypeMapper">

    <resultMap type="com.java1234.entity.BigType" id="BigTypeResult">
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="BigTypeResult">
        select * from t_bigType where id=#{id}
    </select>


</mapper>