<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.mapper.SmallTypeMapper">

    <resultMap type="com.java1234.entity.SmallType" id="SmallTypeResult">
        <association property="bigType" column="bigTypeId" select="com.java1234.mapper.BigTypeMapper.findById"></association>
    </resultMap>

    <select id="findById" parameterType="Integer" resultMap="SmallTypeResult">
        select * from t_smallType where id=#{id}
    </select>

    <select id="list" parameterType="Map" resultMap="SmallTypeResult">
        select * from t_smallType
        <where>
            <if test="name!=null and name!='' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        <if test="start!=null and pageSize!=null">
            limit #{start},#{pageSize}
        </if>
    </select>

    <select id="getTotal" parameterType="Map" resultType="Long">
        select count(*) from t_smallType
        <where>
            <if test="name!=null and name!='' ">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </select>


    <insert id="add" parameterType="com.java1234.entity.SmallType">
        insert into t_smallType values(null,#{name},#{remark},#{bigType.id});
    </insert>

    <update id="update" parameterType="com.java1234.entity.SmallType">
        update t_smallType
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="bigType.id!=null">
                bigTypeId=#{bigType.id},
            </if>
        </set>
        where id=#{id}
    </update>



</mapper>